<div class="castles">
    <div *ngFor='let castle of castles'>
        <ul class="stat">
            <li>
                Height: 
                {{castle.height}}
                <img src='https://image.ibb.co/bL9oTd/MM2fR.png' class="game-icon">
            </li>
            <li>
                Wall:
                {{castle.wall}}
                <img src='https://image.ibb.co/nfYxG8/great_wall.png' class="game-icon">
            </li>
            <br>
            <li>
                Bricks: 
                {{castle.bricks}}
                <img src='https://image.ibb.co/k9zTdd/bricks.png' class="game-icon">
            </li>
            <li>
                Gems: 
                {{castle.gems}}
                <img src='https://image.ibb.co/bHHgyd/gems.png' class="game-icon">
            </li>
            <li>
                Recruits: 
                {{castle.recruits}}
                <img src='https://image.ibb.co/bEBVry/beasts.png' class="game-icon">
            </li>
            <br>
            <li>
                Quarry 
                + {{castle.quarry}}
                <img src='https://image.ibb.co/ggA1yd/mine.png'class="game-icon">
            </li>
            <li>
                Magic 
                + {{castle.magic}}
                <img src='https://image.ibb.co/giibWy/magic.png' class="game-icon">
            </li>
            <li>
                Dungeon 
                + {{castle.dungeon}}
                <img src='https://image.ibb.co/kv1Vry/dungeon.png' class="game-icon">
            </li>
        </ul>       
        
    </div>
</div>
