<div class="castles">
    <div *ngFor='let castle of castles'  class="stat">
        <h6>
            Height: {{castle.height}}
            <img src='https://image.ibb.co/bL9oTd/MM2fR.png' class="game-icon">
        </h6>
        <h6>
            Wall: {{castle.wall}}
            <img src='https://image.ibb.co/jUXH4J/66326.png' class="game-icon">
        </h6>
        <br>
        <h6>
            Bricks: {{castle.bricks}}
            <img src='https://image.ibb.co/k9zTdd/bricks.png' class="game-icon">
        </h6>
        <h6>
            Gems: {{castle.gems}}
            <img src='https://image.ibb.co/bHHgyd/gems.png' class="game-icon">
        </h6>
        <h6>
            Recruits: {{castle.recruits}}
            <img src='https://image.ibb.co/bEBVry/beasts.png' class="game-icon">
        </h6>
        <br>
        <h6>
            Quarry + {{castle.quarry}}
            <img src='https://image.ibb.co/ggA1yd/mine.png'class="game-icon">
        </h6>
        <h6>
            Magic + {{castle.magic}}
            <img src='https://image.ibb.co/giibWy/magic.png' class="game-icon">
        </h6>
        <h6>
            Dungeon + {{castle.dungeon}}
            <img src='https://image.ibb.co/kv1Vry/dungeon.png' class="game-icon">
        </h6>
        
    </div>
</div>
