@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign up Page";
}

<h2>Регистрация</h2>

<form method="post">
    <div class="validation" asp-validation-summary="All" />
    <div>
        <div>
            <label asp-for="SignupModel.Email">Введіть Email</label><br />
            <input type="text" asp-for="SignupModel.Email" />
            <span asp-validation-for="SignupModel.Email" />
        </div>
        <div>
            <label asp-for="SignupModel.Password">Введіть пароль</label><br />
            <input asp-for="SignupModel.Password" />
            <span asp-validation-for="SignupModel.Password" />
        </div>
        <div>
            <label asp-for="SignupModel.ConfirmPassword">Повторіть пароль</label><br />
            <input asp-for="SignupModel.ConfirmPassword" />
            <span asp-validation-for="SignupModel.ConfirmPassword" />
        </div>
        <div>
            <input type="submit" value="Реєстрація" />
        </div>
    </div>
</form>
