.field{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(https://image.ibb.co/gGJcPT/architectureimg_com_medieval_castle_mountain_medieval_clouds_sky_background_pictures.jpg);                 
} 