
  .card-container{
    display: flex;
    justify-content: space-around; 
    
  }

 .discard-container{
    display: flex;
    justify-content: space-around; 
     
 }

 .list-container{
  flex-wrap: wrap;
  align-items: flex-end;
 }